@model TeamHost.Web.Areas.Account.Models.AuthModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "title";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TeamHost - Register</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/libs.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body class="page-login">


<div class="page-wrapper">
    <main class="page-first-screen">
        <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
            <div class="logo-big">
                <img src="~/img/logo-big.png" alt="logo">
                <span>TeamHost</span>
                <h1>Join now and play mighty games!</h1>
            </div>
            <div>
                <div class="form-login">
                    <div class="form-login__box">
                        <div class="uk-heading-line uk-text-center">
                            <span>or with Email</span>
                        </div>
                        <form asp-area="Account" asp-controller="Auth" asp-action="Login" method="post">
                            <div class="uk-margin">
                                <input class="uk-input" asp-for="Email" type="email" placeholder="Email">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="password" asp-for="Password" placeholder="Password">
                            </div>
                            <button type="submit" value="Log In"/>
                        </form>

                    </div>
                    <div class="uk-margin uk-text-center">
                        <a href="01_login-in.html">Forgotten password?</a>
                    </div>
                    <hr>
                    <div class="uk-text-center">
                        <span>Don’t have an account?</span>

                        @Html.ActionLink("Register", "Register", "Auth", null, new { @class = "uk-margin-small-left" })
                    </div>
                </div>
            </div>
        </div> </main>
</div>

<script src="~/js/libs.js"></script>
<script src="~/js/main.js"></script>
</body>
</html>