@using Microsoft.AspNetCore.Identity
@using TeamHost.Domain.Entities
@inject SignInManager<User> SignInManager;
 <aside class="sidebar is-show" id="sidebar">
    <div class="sidebar-box">
        <ul class="uk-nav">
            <li class="nav-list"><a asp-controller="Home" asp-action="Index" asp-area="Home"><i class="ico_home"></i><span>Home</span></a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="uk-nav-header">Account</li>
                <li class="nav-list"><a asp-controller="Profile" asp-action="Index" asp-area="Account"><i class="ico_profile"></i><span>Profile</span></a></li>
                <li class="nav-list"><a asp-controller="Favourite" asp-action="Index" asp-area="Account"><i class="ico_favourites"></i><span>Favourites</span><span class="count">15</span></a></li>
                <li class="nav-list"><a asp-controller="Chat" asp-action="Index" asp-area="Account"><i class="ico_chats"></i><span>Chats</span></a></li>
                <li class="nav-list"><a asp-controller="Friend" asp-action="Index" asp-area="Account"><i class="ico_friends"></i><span>Friends</span></a></li>
                <li class="nav-list"><a asp-controller="Wallet" asp-action="Index" asp-area="Account"><i class="ico_wallet"></i><span>Wallet</span></a></li> 
            }
            <li class="uk-nav-header">Main</li>
            <li class="nav-list"><a asp-controller="Store" asp-action="Index" asp-area="Main"><i class="ico_store"></i><span>Store</span></a></li>
            <li class="nav-list"><a asp-controller="Market" asp-action="Index" asp-area="Main"><i class="ico_market"></i><span>Market</span></a></li>
            <li class="nav-list"><a asp-controller="Stream" asp-action="Index" asp-area="Main"><i class="ico_streams"></i><span>Streams</span></a></li>
            <li class="nav-list"><a asp-controller="Community" asp-action="Index" asp-area="Main"><i class="ico_community"></i><span>Community</span></a></li>
            <li class="nav-list"><a asp-controller="Live" asp-action="Index" asp-area="Main"><i class="ico_community"></i><span>Live</span></a></li>
            <li class="uk-nav-header">Support</li>
            <li class="nav-list"><a href="#modal-report" data-uk-toggle><i class="ico_report"></i><span>Report</span></a></li>
            <li class="nav-list"><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>Help</span></a></li>
        </ul>
    </div>
</aside>
