* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app{
    width: 100%;
}

.finder {
    background: rgba(7, 42, 200, 1);
    max-width: 100%;
}

.finder-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pokeball {
    max-width: 15%;
    margin-top: -4%;
    margin-right: -4%;
}

.h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: calc(34px + 8 * (100vw - 320px) / 280);
    margin-left: 15%;
    margin-top: 5%;
    word-wrap: break-word;
}

.finder-input {
    margin-top: -3%;
    margin-bottom: 3.5%;
}

.input-wrapper {
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
    position: relative;
    width: 90%;
}

.search-btn{
    margin-top: calc(9.5px + 8 * (100vw - 320px) / 795);
    margin-left:  calc(7px + 8 * (100vw - 320px) / 880);
    width: calc(14px + 8 * (100vw - 320px) / 280);
    position: absolute;
}

.input{
    border-radius: 15vh;
    padding: 2% 5% 2% 8%;
    font-size: calc(14px + 8 * (100vw - 320px) / 880);
    font-family: "Poppins", sans-serif;
    width: 75%;
    outline: none;
    border: none;
}

.btn {
    background: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: calc(14px + 8 * (100vw - 320px) / 480);
    border-radius: 15vh;
    appearance: none;
    border: none;
    width: 10%;
    text-align: center;
    margin-left: -10.4%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.btn:active {
    background: rgba(20, 20, 20, 0.8);
}

.pokemon-list-wrapper {
    width: 100%;
    display: grid;
    justify-content: space-between;
    padding: 0px 5%;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.pokemon-card {
    box-shadow: rgba(0,0,0,0.2) 5px 5px 5px 5px;
    margin: 20px 5px;
    border-radius: 20px;
    padding: 0px 8px;
    align-items: center;
}

.card-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.pokemon-id {
    color: rgba(20, 20, 20, 0.8);
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-size: 10px;
    margin-top: 7px;
}

.pokemon-name {
    color: rgba(7, 42, 200, 1);
    font-family: "Poppins", sans-serif;
    padding: 3px 4px;
    font-size: 12px;
    margin-top: 0px;
}

.pokemon-type {
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border: none;
    margin: 0px 2px;
    padding: 2px 5px;
    cursor: pointer;
    color: white;
}

.card-content{
    display: flex;
    justify-content: center;
}

.not-found-wrapper {
    margin-top: 15px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    width: 100%;
}

.not-found-pikachu{
    margin-top: 30px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
